.main-header {
	position: relative;
}

.header {
	height: 100vh;

	clip-path: polygon(0 0, 100% 0, 100% 74%, 50% 65%, 0% 74%);
	z-index: -100;
	overflow: hidden;
	/* position: relative; */
	background: linear-gradient(83.79deg, #1b45b4 3.25%, #219ebc 96.85%);
	/* background: linear-gradient(90deg, #1b45b4 10%, #219ebc 96.85%); */
}
.main-nav {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	align-items: center;
	padding-top: 2.8rem;
}
.brand {
	width: 10rem;
	height: 4rem;
	object-fit: cover;
	margin-right: auto;
}
.main-nav__list {
	display: flex;
	align-items: center;
	gap: 3rem;
	list-style: none !important;
}
.main-nav__list-item {
}

.main-nav__link {
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 1.8rem;

	/* line-height: 120%; */

	/* padding: 1.8rem 3.2rem; */
	transition: all 0.3s;

	padding: 13px 30px;
	/* display: inline-block; */
	display: block;
	border-radius: 5px;

	font-family: 'Poppins' !important;
	/* font-size: 18px; */
}

.main-nav__link--outline {
	border: 1px solid #fff;
	border-radius: 5px;
}

.main-nav__link:hover {
	box-shadow: 0 0 0 1px #fff;
}

.main-nav__link--outline:hover {
	background-color: #fff;
	color: var(--primary-color);
}
.main-nav__link:active {
	transform: translateY(3px);
}
