.menu-item {
	/* font-family: 'Gotham' !important; */
	font-size: 1.6rem;
	/* font-weight: lighter; */
	font-weight: 350;
	padding: 10px;
	display: flex;
	align-items: center;
	padding: 9px 16px;
	gap: 6px;
	width: 100%;
	flex: none;
	order: 0;
	align-self: stretch;
	color: #000;
	border-radius: 6px;
	transition: all 0.4s;
	color: var(--secondary-color);

	line-height: 100%;

	position: relative;
}

.menu-item:hover {
	background-color: var(--secondary-color);
	color: #fff;
}
/* .menu-item:active {
	background-color: var(--secondary-color);
	color: #fff;
} */

.menu-item.active {
	background-color: var(--secondary-color);
	color: #fff;
}

.menu-item img {
	position: absolute;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
}
.menu-item:hover svg path {
	fill: #fff;
}
.menu-item.active svg path {
	fill: #fff !important;
}
.decrease {
	/* something */
}

.menu-item.decrease {
	padding: 5px;
}
/* DECREASE STATE */
.decrease .menu-item__text,
.menu-item__dropdown {
	display: none;
}
